.PageWrapper {
  height: 75vh;
  margin-top: 15vh;
  margin-bottom: 5vh;
  padding: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 15px;
  border: 2px solid rgb(10, 184, 10);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
.heroText {
  display: flex;
  grid-column: 2;
  grid-row: 1;
}
.groupText {
  display: flex;
  grid-column: 3;
  grid-row: 1;
}
.searchbar {
  display: flex;
  grid-column: 6;
  grid-row: 1;
}
.xLinkButton {
  display: flex;
  grid-column: 7;
  grid-row: 1;
  padding-left: 8rem;
}
.sideNavbar {
  display: flex;
  grid-column: 1;
  grid-row: 1 / 10;
}
.sideNavbar ul {
  list-style-type: none;
}

.xLinkButton {
  display: flex;
}

.heroImg {
  display: flex;
  grid-column: 2;
  grid-row: 2;
}
.attributes {
  display: flex;
  grid-column: 2;
  grid-row: 6 /10;
}

.attributesPie {
  display: flex;
  grid-column: 3;
  grid-row: 2 /6;
}

.topPie {
  display: flex;
  grid-column: 3;
  grid-row: 6/10;
}

.heroDescription {
  display: flex;
  grid-column: 4 / span 2;
  grid-row: 2 / 5;
  padding: 1rem;
  padding-top: 2rem;
}

.skillVideo {
  grid-column: 4 / span 2;
  grid-row: 5 / 10;
  padding: 1rem;
}

.topPlayers {
  display: flex;
  grid-column: 6 / span 2;
  grid-row: 2 / 5;
}

.stats {
  display: flex;
  grid-column: 6 / span 2;
  grid-row: 5 / 10;
}
.xLinkButton {
  display: flex;
  margin-top: 20px;
}

.ContentWrapper,
.heroText,
.groupText,
.searchbar,
.sideNavbar,
.heroImg,
.heroGif,
.heroDescription,
.skillVideo,
.specialSkill,
.attributesPie,
.topPlayers,
.attributes,
.stats,
.topPie {
  border: 2px solid rgb(10, 184, 10);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
}
